<!DOCTYPE html>
<html>

<head>
  <title>Tangible Programming test: Row Row Row</title>
  <link rel="stylesheet" href="{{ '/assets/css/w3.css' | url }}">

  <style>
  #video-canvas{
  border: solid 1px blue;
  background: #ddd;
   transform: scale(-1, 1);            /*For Firefox (& IE) */
        -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
}
.resultWindow{
width:100%;
min-height:50px;
border: solid 1px white;
}
  </style>
  <script src="{{ '/assets/js/topcodes.js' | url }}"></script>


</head>

 <body class="w3-black">
 <main>
 <div class="w3-content w3-padding-32">
 <div class="w3-row">
 <div class="w3-col s1 m2 l2">&nbsp;</div>
 <div class="w3-col s10 m8 l8">
  <canvas id="video-canvas" width="600" height="800" ></canvas>
  <br />
  <button id="camera-button" onclick="TopCodes.startStopVideoScan('video-canvas')">Start / Stop</button>
  </div>
  </div>
</div>
<div class="w3-content">
 <div class="w3-row">
  <div id="output">
  <h2>Result</h2>
  <div id="result" class="resultWindow"></div>
  </div>
   <br/>
   <div class="w3-row">

  <h2>Codes</h2>
  <div id="codes" class="resultWindow"></div>
  </div>
  </div>
  <br/>
  <div class="w3-row">
    <button id="run" type="button" >Run</button>
   </div>
</div>

<script defer type="module" src="{{ '/assets/js/main.js' | url }}"></script>


</main>
</body>

</html>